<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScalA.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <ScalA.My.MySettings>
            <setting name="location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="zoom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="topmost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hideMessage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="resolutions" serializeAs="String">
                <value>800x600
900x675
1000x750
1100x825
1200x900
1300x975
1400x1050
1500x1125
1600x1200
1700x1275
1800x1350
2000x1500
2400x1800
2800x2100
3200x2400
3600x2700
4000x3000
4400x3300</value>
            </setting>
            <setting name="links" serializeAs="String">
                <value />
            </setting>
            <setting name="className" serializeAs="String">
                <value>MAINWNDMOAC | 䅍义乗䵄䅏C潣普楬瑣搮瑡 | MAINWNDASTONIA | SDL_app</value>
            </setting>
            <setting name="exe" serializeAs="String">
                <value>moac | new | Knights of Astonia</value>
            </setting>
            <setting name="SettingsVersion" serializeAs="String">
                <value>0.0.0</value>
            </setting>
            <setting name="roundCorners" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gameOnOverview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SwitchToOverview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CycleAlt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StoCtrl" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="StoAlt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StoShift" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CycleCtrlKeyFwd" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CycleAltKeyFwd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StoKey" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="CycleKeyFwd" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="CycleKeyBwd" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="CycleShiftKeyFwd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CycleShiftKeyBwd" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="CycleCtrlKeyBwd" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CycleAltKeyBwd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CycleOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="topSort" serializeAs="String">
                <value>Someone</value>
            </setting>
            <setting name="botSort" serializeAs="String">
                <value>Someone</value>
            </setting>
            <setting name="Whitelist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SingleInstance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LockEq" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxBorderTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxBorderLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxBorderRight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxBorderBot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExtraMaxColRow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OneLessRowCol" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="resol" serializeAs="String">
                <value>900, 675</value>
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScalingMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CheckForUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SizingBorder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinMin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseAll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseAllCtrl" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CloseAllShift" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="CloseAllAlt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CloseAllKey" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="remeberSettingsTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QLShowHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HoverActivate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowEnd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToggleTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TogTopAlt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TogTopCtrl" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TogTopShift" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TogTopWin" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StoWin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CycleWinKeyFwd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CycleWinKeyBwd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CloseAllWin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ToggleTopKey" serializeAs="String">
                <value>84</value>
            </setting>
            <setting name="KeepOnOverview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlterOverviewPlusCtrl" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AlterOverviewPlusWin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlterOverviewPlusShift" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlterOverviewPlusAlt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlterOverviewPlusKey" serializeAs="String">
                <value>107</value>
            </setting>
            <setting name="AlterOverviewMinCtrl" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AlterOverviewMinWin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlterOverviewMinShift" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlterOverviewMinAlt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlterOverviewMinKey" serializeAs="String">
                <value>109</value>
            </setting>
            <setting name="AlterOverviewStarCtrl" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AlterOverviewStarWin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlterOverviewStarShift" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlterOverviewStarAlt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlterOverviewStarKey" serializeAs="String">
                <value>106</value>
            </setting>
            <setting name="AlterOverview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplyAlterNormal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxNormOverview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableWinKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnlyEsc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoCloseIdle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoAltTab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnlyAutoCloseOnNoSomeone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IgnoreWindowsScalingIssue" serializeAs="String">
                <value>False</value>
            </setting>
        </ScalA.My.MySettings>
    </userSettings>
</configuration>
