<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScalA.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <ScalA.My.MySettings>
            <setting name="location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="zoom" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="topmost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="offset" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="hideMessage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="resolutions" serializeAs="String">
                <value>800x600
900x675
1000x750
1100x825
1200x900
1300x975
1400x1050
1500x1125
1600x1200
1700x1275
1800x1350
2000x1500
2400x1800
2800x2100
3200x2400
3600x2700
4000x3000
4400x3300</value>
            </setting>
            <setting name="links" serializeAs="String">
                <value />
            </setting>
            <setting name="className" serializeAs="String">
                <value>MAINWNDMOAC | 䅍义乗䵄䅏C | MAINWNDASTONIA</value>
            </setting>
            <setting name="exe" serializeAs="String">
                <value>moac | new | Knights of Astonia</value>
            </setting>
            <setting name="SettingsVersion" serializeAs="String">
                <value>0.0.0</value>
            </setting>
            <setting name="roundCorners" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gameOnOverview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SwitchToOverview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CycleAlt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StoCtrl" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="StoAlt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StoShift" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CycleCtrlKeyFwd" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CycleAltKeyFwd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StoKey" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="CycleKeyFwd" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="CycleKeyBwd" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="CycleShiftKeyFwd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CycleShiftKeyBwd" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="CycleCtrlKeyBwd" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CycleAltKeyBwd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CycleOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="topSort" serializeAs="String">
                <value>Someone</value>
            </setting>
            <setting name="botSort" serializeAs="String">
                <value>Someone</value>
            </setting>
            <setting name="Whitelist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SingleInstance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LockEq" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxBorderTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxBorderLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxBorderRight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxBorderBot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExtraMaxColRow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OneLessRowCol" serializeAs="String">
                <value>True</value>
            </setting>
        </ScalA.My.MySettings>
    </userSettings>
</configuration>
